body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.header {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 20px;
}

.weather-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.current-weather {
  text-align: center;
  padding: 20px;
}

.forecast {
  margin-top: 20px;
  text-align: center;
}

#forecastCards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.forecast-card {
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: calc(20% - 20px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast-card img {
  max-width: 50px;
  height: auto;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

.btn:hover {
  color: grey;
}

.btn {
  color: #5b5a5a;
}

.cn {
  color: #5b5a5a;
}

.temperature-toggle {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #5b5a5a;
}

.unit {
  margin: 0 10px;
  font-weight: bold;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #007bff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
